{
  "extends": ["@pancakeswap-libs/eslint-config-pancake",
              "plugin:import/errors",
              "plugin:import/warnings",
              "plugin:import/typescript"],
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "src/setupTests.[jt]s?(x)",
          "src/testHelpers.[jt]s?(x)",
          "**/*.test.[jt]s?(x)",
          "rollup.config.js"
        ]
      }
    ]
  }
}
